* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.banner {
  height: 100vh;
  background-image: url(../images/01/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-intro i {
  font-size: 65px;
}

/* Global styles */
